configurations/
depend/
headset_prompts/
image/
soundbar_prompts/
speaker_prompts/
TabToFileCapture/
usb_fat
usb_root
*.o
*.html
*.app
*.dbg
*.mak
*.HTM
*.m
*.db
*.db_
*.map
*.sym
*.xap
*.xuv
*.fs
!soundbar.mak
!speaker.mak
!headset.mak
